/* Booking form */

.form-container {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  /* background-color: purple; */
}

form {
  display: flex;
  flex-direction: column;
  width: 35%;
  /* background-color: blue; */
  gap: 20px;
  color: var(--main-color);
  font-weight: 600;
}

.form-container label,
.form-container select,
.form-container input {
  color: var(--main-color);
  font-family: var(--accent-font);
  font-size: 1rem;
}

input, select {
  padding: .7rem;
  border: 1px solid rgb(206, 206, 206);
  border-radius: .4rem;
}

.submit-btn {
  background-color: var(--accent-color);
  border-radius: 1.5rem;
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 600;
}

.submit-btn:hover {
  background-color: var(--main-color);
  color: white;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}

/* Media Quries */

/* mobile */
@media (max-width: 480px) {
  .bottom {
    flex-direction: column;
  }

  .item-container {
    margin-bottom: 2rem;
  }

  .test-container {
    flex-wrap: wrap;
  }

  .footer-container {
    flex-direction: column;
  }

  .link-section > div {
    max-width: 100%;
  }

  form {
    width: 60%
  }
}

/* tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-img,
  .about-img2 {
    position: relative;
    margin: 0 auto 2rem;
  }
}
