/* Booking form */

form {
  display: grid;
  max-width: 200px;
  gap: 20px;
}

/* Media Quries */

/* mobile */
@media (max-width: 480px) {
  .bottom {
    flex-direction: column;
  }

  .item-container {
    margin-bottom: 2rem;
  }

  .test-container {
    flex-wrap: wrap;
  }

  .footer-container {
    flex-direction: column;
  }

  .link-section > div {
    max-width: 100%;
  }
}

/* tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-img,
  .about-img2 {
    position: relative;
    margin: 0 auto 2rem;
  }
}
