/* imports */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&family=Markazi+Text:wght@400;500;600;700&display=swap');

/* roots */
:root {
  --accent-color: #F4CE14;
  --main-color: #495E57;
  --accent-font: 'Karla', sans-serif;
  --main-font: 'Markazi Text', serif;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  /* display: block; */
}

/* styles */

h1 {
  font-family: var(--main-font);
  font-size: 64px;
}

h2, h3, h4, h5, h6 {
  font-family: var(--accent-font);
  font-size: 40px;
  font-weight: 500;
}

p, span {
  font-family: var(--accent-font);
  font-size: 18px;
}

.btn {
  border-radius: 16px;
  background-color: var(--accent-color);
  color: var(--main-color);
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.274);
}

.specials-name, .test-name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2rem;
}
/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 69rem;
  width: 90%;
  margin: 2rem auto;
  font-family: var(--accent-font);
  font-weight: bold;
}

.hamburger-menu {
  border: none;
  background-color: transparent;
  color: var(--main-color);
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

/* Footer */

footer {
  background-color: var(--main-color);
}

.footer-container {
  max-width: 69rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  padding: 2rem 0;
}

.footer-logo {
  /* width: 10rem;
  height: 20rem; */
  width: 100%;
  max-width: 10rem;
}

.link-section {
  display: flex;
  gap: 3rem;
  width: 70%;
  flex-wrap: wrap;
}

.footer-header {
  font-size: 1.25rem;
}

.footer-links {
  color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

@media (max-width: 715px) {
  .hamburger-menu {
   display: flex;
  }

  .nav-links {
    display: none;
  }
}